label {
    display: inline-block;
    width: 200px;
    margin-right: 30px;
    text-align: right;
    color: #2c3e50;
}
input {
    height: 16px;
    width: 200px;
}
body {
    margin-right: 150px;
    color: #2c3e50;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: left;
}
#app
* {
    box-sizing: border-box;
    margin: 1px;
    padding: 8px;
    text-align: center;
    color: #2c3e50;
    font-weight: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("~../../public/kapiuksed.jpg");

}
image {
    size: 10px;

}

#nav {
    padding: 30px;
    text-align: center;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #2c3e50;
    background: snow;
    border-radius: .5rem;
}


header {
    background: snow;
    color: #2c3e50;
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: normal;
    justify-content: center;
}

button {
    border: 0.001rem solid deepskyblue;
    border-radius: 4px;
    background-color: skyblue;
    text-transform: capitalize;
    color: #2c3e50;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;

}

.icon {


}

#nav {
    padding: 30px;
    text-align: center;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: whitesmoke;
    background: lightskyblue;
    border-radius: .5rem;
}
